:root {
  --white: #ffffff;
  --black: #303030;
  --accent: #ff6c00;
  --gray-on-black: #9da4bd;
  --gray-on-black-opacity: #686c7c;
  --gray-on-white: #555555;
  --body-bg-color: #ffffff;
  --body-color: #303030;
  --btn-bg-color: transparent;
  --btn-border-color: #ff6c00;
  --btn-text-color1: #ffffff;
  --btn-text-color2: #303030;
  --prices-background: #111319;
  --prices-left-card-bg: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  --prices-right-card-bg: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  --reasons-list-item-background: #f7f7f7;
  --masters-bg: #f7f7f7;
  --masters-list-item-text-color: #ff6c00;
  --masters-item-hidden-text: rgba(23, 26, 36, 0.5);
  --connect-wrap-bg: #191c26;
  --backdrop-background-color: rgba(23, 26, 36, 0.7);
  --modal-background: #ffffff;
  --time-animation: 300ms;
  --function-animation: linear;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  padding: 32px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-icon {
  margin-right: 70px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white);
  transition: color var(--time-animation) var(--function-animation);
}
.nav-list-item-link:hover, .nav-list-item-link:focus {
  color: var(--accent);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 40px;
  transition: color var(--time-animation) var(--function-animation);
}
.header-contacts-link:hover, .header-contacts-link:focus {
  color: var(--accent);
}

.header-button {
  color: var(--btn-text-color1);
  margin-right: 3px;
}

.hero-container {
  display: flex;
}

.hero-text {
  background: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
}

.sidebar {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.sidebar-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
}
.sidebar-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background: var(--black);
  margin-right: 40px;
}

.sidebar-list-item:not(:last-child) {
  margin-right: 40px;
}

.sidebar-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color var(--time-animation) var(--function-animation);
}
.sidebar-item-link:hover, .sidebar-item-link:focus {
  color: var(--accent);
}

.hero-pre-title {
  color: var(--gray-on-black-opacity);
  margin-bottom: 20px;
}
.hero-pre-title::before {
  width: 63px;
  background: var(--gray-on-black-opacity);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--white);
  margin-bottom: 20px;
}

.hero-descr {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
  max-width: 400px;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 139px;
    padding-bottom: 121px;
  }
}

.about-container {
  display: block;
}
@media screen and (min-width: 768px) {
  .about-container {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .about-container {
    align-items: center;
  }
}

.about-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-list {
    display: block;
    margin-right: 30px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    margin-right: 64px;
  }
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .about-list-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.about-pre-title {
  margin-bottom: 20px;
}
.about-pre-title::before {
  background: var(--black);
}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  margin-bottom: 20px;
  color: var(--gray-on-white);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
  color: var(--gray-on-white);
}

.about-button {
  color: var(--btn-text-color2);
  transition: color var(--time-animation) var(--function-animation), background-color var(--time-animation) var(--function-animation);
}
.about-button:focus, .about-button:hover {
  color: var(--btn-text-color1);
}

.prices {
  background: var(--prices-background);
  background-image: url(../images/mobile/prices-bg-mobile-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url(/images/mobile/prices-bg-mobile-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .prices {
    background-image: url(../images/tablet/prices-bg-tablet-1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/tablet/prices-bg-tablet-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    background-image: url(../images/desctop/prices-bg-desc-1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url(../images/desctop/prices-bg-desc-2x.png);
  }
}

.prices-pre-title {
  margin-bottom: 20px;
  color: var(--gray-on-black-opacity);
}
.prices-pre-title::before {
  background: var(--gray-on-black-opacity);
}

.prices-title {
  color: var(--white);
  margin-bottom: 44px;
}

.prices-list-wrapper {
  background: var(--prices-left-card-bg);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .prices-list-wrapper {
    display: flex;
  }
}

.prices-left-list {
  padding: 30px 30px 10px;
}
@media screen and (min-width: 1200px) {
  .prices-left-list {
    background: var(--prices-left-card-bg);
  }
}

.prices-right-list {
  padding: 10px 30px 30px;
}
@media screen and (min-width: 1200px) {
  .prices-right-list {
    background: var(--prices-right-card-bg);
  }
}

@media screen and (min-width: 1200px) {
  .prices-list {
    padding: 30px 40px;
    width: 50%;
  }
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}
.prices-list-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}
.prices-list-item:last-child {
  margin-bottom: 0;
}

.prices-list-item-line {
  order: -1;
}

.prices-list-item-text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
}
@media screen and (min-width: 768px) {
  .prices-list-item-text {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices-list-item-price {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
}
@media screen and (min-width: 768px) {
  .prices-list-item-price {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices-button {
  color: var(--white);
  display: block;
  margin: 0 auto;
}

.reasons-container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .reasons-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.reasons-pre-title {
  margin-bottom: 20px;
}
.reasons-pre-title::before {
  background: var(--black);
}

.reasons-title {
  margin-bottom: 20px;
}

.reasons-descr {
  color: var(--gray-on-white);
}

.reasons-left {
  display: flex;
}
@media screen and (min-width: 765px) {
  .reasons-left {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-left {
    justify-content: center;
  }
}

.reasons-right {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .reasons-right {
    max-width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-right {
    margin-bottom: 0;
    max-width: unset;
  }
}

@media screen and (min-width: 1200px) {
  .reasons-left,
  .reasons-right {
    width: calc(50% - 30px);
  }
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 765px) {
  .reasons-list {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-list {
    max-width: 370px;
  }
}

.reasons-list-item {
  padding: 20px;
  background: var(--reasons-list-item-background);
  width: calc(50% - 15px);
  height: 133px;
}
.reasons-list-item:nth-child(odd) {
  margin-right: 30px;
}
.reasons-list-item:nth-child(even) {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .reasons-list-item {
    width: 170px;
    padding: 20px 24px;
  }
}

.reasons-list-item-number {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  margin-left: 13px;
}
.reasons-list-item-number::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent);
}

.reasons-list-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.masters {
  background: var(--masters-bg);
}

.masters-pre-title {
  margin-bottom: 20px;
}
.masters-pre-title::before {
  background: var(--black);
}

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: block;
  margin-bottom: -64px;
}
@media screen and (min-width: 768px) {
  .masters-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .masters-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.masters-item-wrap {
  position: relative;
  overflow: hidden;
}

.masters-list-item {
  margin-bottom: 64px;
}
@media screen and (min-width: 1200px) {
  .masters-list-item {
    flex-basis: calc(33.3333333333% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
.masters-list-item:hover .masters-item-hidden-text {
  transform: translateX(0);
}

.masters-item-hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 30px;
  background: var(--masters-item-hidden-text);
  color: var(--gray-on-black);
  height: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: transform var(--time-animation) var(--function-animation);
}

.masters-item-content {
  padding-top: 30px;
}

.masters-item-title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: var(--masters-list-item-text-color);
  text-align: center;
  margin-bottom: 30px;
}

.masters-socials-list {
  display: flex;
  justify-content: center;
}

.masters-socials-item {
  width: 44px;
  height: 44px;
}
.masters-socials-item:not(:last-child) {
  margin-right: 10px;
}

.masters-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--white);
  transition: fill var(--time-animation) var(--function-animation);
}
.masters-socials-link:hover, .masters-socials-link:focus {
  fill: var(--accent);
}

.masters-socials-icon {
  color: currentColor;
}

.portfolio-pre-title {
  margin-bottom: 44px;
}
.portfolio-pre-title::before {
  background: var(--black);
}

.portfolio-list {
  display: block;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.portfolio-list-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    flex-basis: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    flex-basis: calc(25% - 30px);
  }
}

.connect-wrap {
  background-color: var(--connect-wrap-bg);
}

.connect-wrap-container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .connect-wrap-container {
    display: flex;
  }
}

.online {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .online {
    padding-right: 40px;
    width: calc(50% + 15px);
  }
}

.online-title {
  color: var(--white);
  margin-bottom: 44px;
}

.online-input-wrap {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .online-input-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.online-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-on-black-opacity);
  padding-bottom: 8px;
  color: var(--gray-on-black-opacity);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  outline: none;
  text-transform: uppercase;
  transition: border-color var(--time-animation) var(--function-animation);
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input + .online-input {
    width: 260px;
  }
}
.online-input::placeholder {
  color: var(--gray-on-black-opacity);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color var(--time-animation) var(--function-animation);
}
.online-input:hover, .online-input:focus {
  border-color: var(--white);
}
.online-input:hover.online-input::placeholder, .online-input:focus.online-input::placeholder {
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .online-input:first-child {
    margin-bottom: 44px;
  }
}

.online-text {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--gray-on-black-opacity);
  margin-bottom: 45px;
  width: 100%;
  height: 76px;
  resize: none;
  color: var(--gray-on-black-opacity);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  outline: none;
  text-transform: uppercase;
  transition: border-color var(--time-animation) var(--function-animation);
}
.online-text::placeholder {
  color: var(--gray-on-black-opacity);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color var(--time-animation) var(--function-animation);
}
.online-text:hover, .online-text:focus {
  border-color: var(--white);
}
.online-text:hover.online-text::placeholder, .online-text:focus.online-text::placeholder {
  color: var(--white);
}

.online-button {
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .online-button {
    display: block;
    margin: 0 auto;
  }
}

.contacts {
  background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% + 15px);
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.contacts-address {
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .contacts-address {
    margin-bottom: 70px;
  }
}

.contacts-title {
  color: var(--white);
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: unset;
  }
}

.contacts-list-item {
  display: flex;
  align-items: center;
}
.contacts-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-list-item-link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--time-animation) var(--function-animation);
}
.contacts-list-item-link:hover, .contacts-list-item-link:focus {
  color: var(--accent);
}
.contacts-list-item-link:hover .contacts-list-icon {
  stroke: var(--accent);
}

.contacts-icon-phone {
  stroke-width: 1.5px;
}

.contacts-list-icon {
  margin-right: 16px;
  fill: none;
  stroke: #9da4bd;
  transition: stroke var(--time-animation) var(--function-animation);
}

@media screen and (min-width: 768px) {
  .contacts-wrap-right {
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-wrap-right {
    margin-right: 0;
  }
}

.contacts-pre-title {
  color: var(--white);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .contacts-pre-title {
    margin-bottom: 40px;
  }
}
.contacts-pre-title::before {
  background: var(--gray-on-black-opacity);
}

.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
}
@media screen and (min-width: 480px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-container {
  display: block;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: unset;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--gray-on-black);
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: var(--black);
}
@media screen and (max-width: 479px) {
  .footer-list {
    margin-bottom: 20px;
  }
}

.footer-list-item:not(:last-child) {
  margin-right: 40px;
}

.footer-list-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
  color: var(--black);
  transition: color var(--time-animation) var(--function-animation);
}
.footer-list-item-link:hover, .footer-list-item-link:focus {
  color: var(--accent);
}
@media screen and (min-width: 480px) {
  .footer-list-item-link {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: var(--btn-bg-color);
  padding: 12px 20px;
  border: 1px solid var(--btn-border-color);
  border-radius: 25px;
  min-width: 160px;
  height: 40px;
  transition: background-color var(--time-animation) var(--function-animation);
}
.btn:hover, .btn:focus {
  background-color: var(--accent);
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.91;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .pre-title {
    line-height: 1.36;
  }
}

.section-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.descr {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-background-color);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--time-animation) var(--function-animation), visibility var(--time-animation) var(--function-animation);
}

/* .backdrop.is-hidden .modal {
  transform: scale(4) rotate(270deg);
} */
.modal {
  width: 500px;
  min-height: 500px;
  padding: 40px;
  background: var(--modal-background);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: translate(-50%, -50%) scale(1) rotate(0); */
  transition: transform var(--time-animation);
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #303030;
  border-radius: 50%;
  transition: border var(--time-animation) var(--function-animation);
}
.modal-close:focus, .modal-close:hover {
  border: 1px solid var(--accent);
}
.modal-close:focus .close-icon, .modal-close:hover .close-icon {
  fill: var(--accent);
}

.close-icon {
  transition: fill var(--time-animation) var(--function-animation);
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  color: var(--black);
  text-align: center;
  margin-bottom: 24px;
}

.modal-form-field {
  margin-bottom: 12px;
}

.modal-input-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--black);
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray-on-white);
  border-radius: 10px;
  padding: 0 25px;
  outline: none;
  background-color: transparent;
  color: var(--gray-on-white);
  font-size: 16px;
  transition: border-color var(--time-animation) var(--function-animation);
}
.modal-input::placeholder {
  color: #ff6c00;
  font-size: 16px;
  opacity: 0.7;
}
.modal-input:hover, .modal-input:focus {
  border-color: var(--accent);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent);
}

.modal-input-wrapper {
  display: flex;
  position: relative;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  fill: var(--black);
  transition: fill var(--time-animation) var(--function-animation);
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid var(--gray-on-white);
  border-radius: 10px;
  padding: 10px 25px;
  outline: none;
  resize: none;
  background-color: transparent;
  color: var(--gray-on-white);
  font-size: 16px;
  transition: border-color var(--time-animation) var(--function-animation);
}
.modal-text::placeholder {
  color: #ff6c00;
  font-size: 16px;
  opacity: 0.7;
}
.modal-text:hover, .modal-text:focus {
  border-color: var(--accent);
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-button {
  display: block;
  color: var(--btn-text-color2);
  transition: color var(--time-animation) var(--function-animation), background-color var(--time-animation) var(--function-animation);
}
.modal-button:hover, .modal-button:focus {
  color: var(--white);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-check-text {
  font-size: 14px;
  color: var(--black);
  display: flex;
  justify-content: center;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--black);
  margin-right: 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-check {
  fill: transparent;
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent);
  border: none;
}
.modal-check:checked + .modal-check-text .icon-check {
  fill: var(--white);
}

.modal-check-slider-text {
  font-size: 14px;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-check-slider-text::before {
  display: flex;
  content: "";
  width: 40px;
  height: 22px;
  border: 1px solid var(--black);
  border-radius: 50px;
  margin-right: 5px;
  justify-content: center;
  transition: background-color var(--time-animation) var(--function-animation);
}
.modal-check-slider-text::after {
  content: "";
  left: 36px;
  top: 2px;
  width: 18px;
  height: 18px;
  background-color: #ff6c00;
  border-radius: 50px;
  position: absolute;
  transition: transform var(--time-animation) var(--function-animation), background-color var(--time-animation) var(--function-animation);
}

.modal-check-slider:checked + .modal-check-slider-text::after {
  transform: translateX(20px);
  background-color: var(--white);
}
.modal-check-slider:checked + .modal-check-slider-text::before {
  background-color: var(--accent);
}/*# sourceMappingURL=main.css.map */