:root {
  --white: #ffffff;
  --black: #303030;
  --accent: #ff6c00;
  --gray-on-black: #9da4bd;
  --gray-on-black-opacity: #686c7c;
  --gray-on-white: #555555;

  --body-bg-color: #ffffff;
  --body-color: #303030;

  --btn-bg-color: transparent;
  --btn-border-color: #ff6c00;
  --btn-text-color1: #ffffff;
  --btn-text-color2: #303030;

  --prices-background: #111319;
  --prices-left-card-bg: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  --prices-right-card-bg: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);

  --reasons-list-item-background: #f7f7f7;

  --masters-bg: #f7f7f7;
  --masters-list-item-text-color: #ff6c00;

  --submit-bg: #191c26;

  --contacts-bg: #191c26;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 20px;
}

.section-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.descr {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;

  letter-spacing: 0.02em;
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: var(--btn-bg-color);

  padding: 12px 20px;

  border: 1px solid var(--btn-border-color);
  border-radius: 25px;
  width: 160px;
  height: 40px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent);
}

/* ------------------HEADER----------------- */

.header {
  padding: 32px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo-icon {
  margin-right: 70px;
}

.header-nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-item-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--white);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--accent);
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white);
  margin-right: 40px;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent);
}

.header-button {
  color: var(--btn-text-color1);
}

/* --------------------HERO---------------- */

.hero-container {
  display: flex;
}

.hero-text {
  background: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 200px;
  padding-left: 100px;
}

.sidebar-list {
  width: 93px;
}

.sidebar-list-item:not(:last-child) {
  margin-bottom: 40px;
}

.sidebar-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;

  color: #303030;
  /* writing-mode: vertical-rl;
  transform: rotate(-180deg); */
  /* padding: 26px 0; */
}

.sidebar-item-link:hover,
.sidebar-item-link:focus {
  color: var(--accent);
}

.hero-pre-title {
  color: var(--gray-on-black-opacity);
  margin-bottom: 20px;
}

.hero-pre-title::before {
  width: 63px;
  background: var(--gray-on-black-opacity);
}

.hero-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;

  color: var(--white);
  margin-bottom: 20px;
}

.hero-descr {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: var(--gray-on-black);

  max-width: 400px;
}

/* -------------------ABOUT------------------ */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-container {
  display: flex;
  align-items: center;
}

.about-list {
  display: flex;
  margin-right: 64px;
  flex-shrink: 0;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}
/* 
.about-right {
  max-width: 500px;
} */

.about-pre-title {
  margin-bottom: 20px;
}

.about-pre-title::before {
  background: var(--black);
}

.about-title {
  margin-bottom: 20px;
}

.about-descr {
  margin-bottom: 20px;
  color: var(--gray-on-white);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin-bottom: 28px;
  color: var(--gray-on-white);
}

.about-button {
  color: var(--btn-text-color2);
}

.about-button:focus,
.about-button:hover {
  color: var(--btn-text-color1);
}

/* ----------------PRICES----------------- */

.prices {
  background: var(--prices-background);
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-pre-title {
  margin-bottom: 20px;
  color: var(--gray-on-black-opacity);
}

.prices-pre-title::before {
  background: var(--gray-on-black-opacity);
}

.prices-title {
  color: var(--white);
  margin-bottom: 44px;
}

.prices-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.prices-left-list {
  background: var(--prices-left-card-bg);
}

.prices-right-list {
  background: var(--prices-right-card-bg);
}

.prices-list {
  padding: 30px 40px;
  width: 50%;
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.prices-list-item::before {
  content: '';
  height: 1px;
  flex-grow: 1;
  background: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-list-item-line {
  order: -1;
}

.prices-list-item:last-child {
  margin-bottom: 0;
}

.prices-list-item-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
}

.prices-list-item-price {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);
}

.prices-button {
  color: var(--white);
  display: block;
  margin: 0 auto;
}

/* --------------------REASONS-------------- */

/* .reasons {
  padding-top: 144px;
  padding-bottom: 136px;
} */

.reasons-container {
  display: flex;
  /* padding-left: 115px;
  padding-right: 115px; */
}

.reasons-pre-title {
  margin-bottom: 20px;
}

.reasons-pre-title::before {
  background: var(--black);
}

.reasons-title {
  margin-bottom: 20px;
}

.reasons-descr {
  color: var(--gray-on-white);
}

.reasons-left {
  display: flex;
  justify-content: center;
}

.reasons-left,
.reasons-right {
  width: calc(50% - 30px);
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.reasons-list-item {
  padding: 20px 24px;
  background: var(--reasons-list-item-background);
  width: 170px;
  height: 133px;
}

.reasons-list-item:nth-child(odd) {
  margin-right: 30px;
}

.reasons-list-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-list-item-number {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  margin-bottom: 6px;
  margin-left: 13px;
}

.reasons-list-item-number::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;

  color: var(--accent);
}

.reasons-list-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

/* --------------------MASTERS------------- */

.masters {
  background: var(--masters-bg);
  max-width: 1280px;
  margin: 0 auto;
}

.masters-pre-title {
  margin-bottom: 20px;
}

.masters-pre-title::before {
  background: var(--black);
}

.masters-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.masters-list-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.masters-item-content {
  padding-top: 30px;
}

.masters-item-title {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;

  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;

  color: var(--masters-list-item-text-color);
  text-align: center;

  margin-bottom: 30px;
}

.masters-socials-list {
  display: flex;
  justify-content: center;
}

.masters-socials-item {
  width: 44px;
  height: 44px;
}

.masters-socials-item:not(:last-child) {
  margin-right: 10px;
}

.masters-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white);
}

.masters-socials-link:hover .masters-socials-icon,
.masters-socials-link:focus .masters-socials-icon {
  fill: var(--accent);
}

.masters-socials-icon {
  fill: var(--black);
}

/* --------------------PORTFOLIO-------------------- */

.portfolio-pre-title {
  margin-bottom: 44px;
}

.portfolio-pre-title::before {
  background: var(--black);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

/* ----------------------------Submit----------------------- */

.submit {
  background: var(--submit-bg);
  padding-bottom: 192px;
}

.submit-container {
  padding-right: 41px;
}

.submit-title {
  color: var(--white);
  margin-bottom: 44px;
}

/* --------------------------CONTACTS----------------------- */

.contacts {
  background: var(--contacts-bg);
}

.contacts-container {
  padding-left: 100px;
  padding-right: 200px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-title {
  color: var(--white);
}

.contacts-list-iten-link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: var(--gray-on-black);
}

.contacts-list-iten:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-pre-title {
  color: var(--white);
  margin-bottom: 40px;
}

.contacts-pre-title::before {
  background: var(--gray-on-black-opacity);
}

.contacts-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: var(--gray-on-black);
}

/* ----------------FOOTER-------------------- */

.footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--gray-on-black);
}

.footer-list {
  display: flex;
}

.footer-list-item {
  display: flex;
  align-items: center;
}

.footer-list-item:not(:last-child) {
  margin-right: 40px;
}

.footer-list-item:not(:last-child)::before {
  display: block;
  content: '';
  width: 60px;
  height: 1px;
  margin-right: 40px;

  background: var(--black);
}

.footer-list-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--black);
}
