.footer {
  padding-top: 44px;
  padding-bottom: 44px;

  @media screen and (min-width: 480px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.footer-container {
  display: block;
  text-align: center;
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: unset;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--gray-on-black);
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background: var(--black);
  }

  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }
}

.footer-list-item {
  // display: flex;
  // align-items: center;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer-list-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  padding-top: 0;
  padding-bottom: 0;

  color: var(--black);

  transition: color var(--time-animation) var(--function-animation);

  &:hover,
  &:focus {
    color: var(--accent);
  }

  @media screen and (min-width: 480px) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
