.footer {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--gray-on-black);
}

.footer-list {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    margin-right: 40px;

    background: var(--black);
  }
}

.footer-list-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.footer-list-item-link {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  padding-top: 56px;
  padding-bottom: 56px;

  color: var(--black);

  transition: color var(--time-animation) var(--function-animation);

  &:hover,
  &:focus {
    color: var(--accent);
  }
}
