.hero-container {
  display: flex;
}

.hero-text {
  background: rgba(25, 28, 38, 0.2);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 96px;
}

.sidebar {
  width: 93px;
  display: flex;
  align-items: flex-end;
  padding-left: 23px;
  padding-bottom: 40px;
}

.sidebar-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-15px);
  transform-origin: top left;
}

.sidebar-list::before {
  content: '';
  width: 60px;
  height: 1px;
  background: var(--black);
  margin-right: 40px;
}

.sidebar-list-item:not(:last-child) {
  margin-right: 40px;
}

.sidebar-item-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: #303030;

  transition: color var(--time-animation) var(--function-animation);
}

.sidebar-item-link:hover,
.sidebar-item-link:focus {
  color: var(--accent);
}

.hero-pre-title {
  color: var(--gray-on-black-opacity);
  margin-bottom: 20px;
}

.hero-pre-title::before {
  width: 63px;
  background: var(--gray-on-black-opacity);
}

.hero-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--white);
  margin-bottom: 20px;
}

.hero-descr {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--gray-on-black);

  max-width: 400px;
}
