.prices {
  background: var(--prices-background);
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.prices-pre-title {
  margin-bottom: 20px;
  color: var(--gray-on-black-opacity);

  &::before {
    background: var(--gray-on-black-opacity);
  }
}

.prices-title {
  color: var(--white);
  margin-bottom: 44px;
}

.prices-list-wrapper {
  background: var(--prices-left-card-bg);
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-bottom: 50px;
  }
}

.prices-left-list {
  padding: 30px 30px 10px;

  @media screen and (min-width: 1200px) {
    background: var(--prices-left-card-bg);
  }
}

.prices-right-list {
  padding: 10px 30px 30px;

  @media screen and (min-width: 1200px) {
    background: var(--prices-right-card-bg);
  }
}

.prices-list {
  @media screen and (min-width: 1200px) {
    padding: 30px 40px;
    width: 50%;
  }
}

.prices-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;

  &::before {
    content: '';
    height: 1px;
    flex-grow: 1;
    background: rgba(157, 164, 189, 0.12);
    margin-left: 6px;
    margin-right: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prices-list-item-line {
  order: -1;
}

.prices-list-item-text {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices-list-item-price {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: var(--gray-on-black);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.prices-button {
  color: var(--white);
  display: block;
  margin: 0 auto;
}
