.reasons-container {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.reasons-pre-title {
  margin-bottom: 20px;

  &::before {
    background: var(--black);
  }
}

.reasons-title {
  margin-bottom: 20px;
}

.reasons-descr {
  color: var(--gray-on-white);
}

.reasons-left {
  display: flex;

  @media screen and (min-width: 765px) {
    justify-content: flex-end;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.reasons-right {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    max-width: 480px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    max-width: unset;
  }
}

.reasons-left,
.reasons-right {
  @media screen and (min-width: 1200px) {
    width: calc(50% - 30px);
  }
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 765px) {
    max-width: 450px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 370px;
  }
}

.reasons-list-item {
  padding: 20px;
  background: var(--reasons-list-item-background);
  width: calc(50% - 15px);
  height: 133px;

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    padding: 20px 24px;
  }
}

.reasons-list-item-number {
  display: flex;
  justify-content: center;
  text-align: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  margin-left: 13px;

  &::after {
    content: '+';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;

    color: var(--accent);
  }
}

.reasons-list-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
